body{
    background-color: #F3F5F8;
    font-family: khmer;
}
img{
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.719);
    transition: 0.5s;
}
a:hover{
    color: blue;
}
header .navbar{
    height: 70px;
   padding: 0;
   margin: 0;
}
.navbar .navbar-brand{
    height: 80px;
}

header .icon{
  top:5px;
  left: 10px;
}
@font-face {
    font-family: khmer;
    src: url(../font/Battambang/Battambang-Bold.ttf);
}
header .form-control{
    width: 350px;
    font-family: "Battambang";
    background-color: #F4F5F6;
}
.dropdown-menu{
    left:-120px !important;
}
.navbar-nav{
    width: 400px;
}
.icon-bg{
    width: 28px;
    height: 28px;
    background-color: rgba(169, 169, 169, 0.158);
    border-radius: 100%;
    margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
}
.navbar .navbar-nav .nav-item .nav-link{
    font-family: khmer;
    padding: 0;
}
.navbar .navbar-nav .nav-item .nav-link:hover{
    color: blue;
}
.fa-solid{
  color: rgba(0, 0, 0, 0.247);
}
.navbar .navbar-nav .nav-item .nav-link:hover .icon-bg{
  background-color: blue !important;
}
.dropdown-menu .dropdown-item .fa-user{
    padding: 10px 11px;
    background-color: darkgray;
    border-radius: 100%;
    margin-right: 10px;
}
.dropdown-menu .dropdown-item{
    font-family: khmer;
}
.container .row .card .card-body .image{
    width: 80px;
    margin: 0;
}
.card-body{
    border: 1px solid rgba(169, 169, 169, 0.363);
}
.container .row .card .card-header .image{
    width: 25px;
}
.container .row .card .card-body .image-body{
    width: 150px;
    height: 120px;
    position: absolute;
  right: 30px;
  top: 20px;
}
.container .row .card .card-body .image-col4{
    width: 80px;
    height: 80px;
    object-fit: cover;
}
